/* ****************************************************
 * A11y drop-down
 * ************************************************** */

/* Top level nav */
.nav {
	float: left;
	margin: 0;
}

/* Dropdowns */
.nav ul {
	position: absolute;
	top: 2.5em;
	left: -9999px;
	opacity: 0;
	transition: 0.1s linear opacity;
	min-width: 150px;
	margin: 0;
	padding: 0;
}

.nav li {
	float: left;
	position: relative;
	list-style-type: none;
}

/* Top level nav items */
.nav li > a {
	float: left;
	padding: 10px 15px;
	text-decoration: none;
	color: $lynda-yellow;
}

/* Top level hover state, preserve hover state when hovering dropdown  */
.nav li > a:hover,
.nav li > a:focus,
.nav li:focus > a,
.nav li:hover > a {
	background: $lynda-yellow;
	color: black;
	outline: 0;
}

.nav li:hover ul,
.nav li:focus ul,
ul.show-menu {
	left: 0;
	opacity: 0.99;
}

.nav ul li {
	float: none;
	position: static;
}

.nav ul a {
	float: none;
	display: block;
	font-size: 12px;
	text-shadow: none;
	transition: 0.1s linear all;
	background-color: $lynda-yellow;
	color: black;

}

.nav ul a:hover,
.nav ul a:focus {
	background: black;
	color: $lynda-yellow;
}


