/* ****************************************************
 * Super header
 * ************************************************** */

 .super-header {
 	background: hsl(0, 0%, 0%);
 }

.super-header .wrapper {
	//@include flexbox();
	display: flex;
	justify-content: space-between;
}

.lynda-logo a {
	display: block;
	background-image: url('../img/lynda.png');
	height: 39px;
	width: 132px;
}