@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jiz8io');
	src:url('fonts/icomoon.eot?#iefix-jiz8io') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jiz8io') format('woff'),
		url('fonts/icomoon.ttf?-jiz8io') format('truetype'),
		url('fonts/icomoon.svg?-jiz8io#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e912";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-arrow-down:before {
	content: "\ea36";
}

.icon-circle-right:before {
	content: "\ea42";
}

